.min-temp {
  opacity: 0.7;
  margin-left: 5px;
}
.WeatherForecastDay {
  padding: auto 30px;
  margin-bottom: 20px;
}
.day {
  color: #ff7f3e;
}
.forecast-icon {
  width: 60px;
  display: block;
  margin: 0 auto;
  padding: 0;
}
