.search-form {
  display: flex;
  justify-content: start;
}
.search-input {
  border: grey;
  border-radius: 6px;
  padding: 10px;
  width: 80%;
  background: #ffff;
  color: rgba(39, 33, 66, 0.8);
}
.search-button {
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.8);
  background: #ffff;
  cursor: pointer;
  transition: all 200ms ease;
  width: 20%;
  margin-left: 5px;
}
.current-weather {
  margin: 30px;
  padding: 50px 0 20px 0;
}
.current-temperature-icon {
  width: 110px;
  position: relative;
  margin-top: -10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  line-height: 70px;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  margin-left: 5px;
}
.city-details {
  text-align: right;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 0;
  color: #fab920;
}
