.search-input {
  border: none;
  border-radius: 6px;
  padding: 10px;
  background: #ffff;
  color: rgba(39, 33, 66, 0.8);
  margin-left: 20px;
  width: 75%;
}
.search-button {
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.8);
  background: #ffff;
  cursor: pointer;
  transition: all 200ms ease;
  margin-left: 10px;
  width: 15%;
}
.search-button:hover {
  background-color: #e7e5e5;
}
.current-weather {
  margin: 30px;
  margin-left: 15px;
  margin-right: 20px;
  padding: 50px 0 20px 0;
}
.current-temperature-icon {
  min-width: 110px;
  margin-top: -10px;
  margin-left: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  line-height: 70px;
}
.current-temperature-unit {
  font-size: 28px;
  line-height: 70px;
}
.city-details {
  text-align: right;
  line-height: 30px;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 0;
  color: #ff7f3e;
}

.Units a {
  color: #ffff;
  text-decoration: none;
}
.Units a:hover {
  color: #ff7f3e;
}
@media (max-width: 768px) {
  .city-details {
    text-align: center;
    margin-top: 20px;
  }
  .current-weather {
    text-align: start;
    margin-left: 0;
  }
  .search-input {
    margin-left: 0;
  }
}
